.play-page {
    
    .logo {
        display: block;
        margin: auto;
        width: 300px;
        height: 300px;
    }

    .play-game {
        display: block;
        margin: auto;
        width: 300px;
        bottom: 0%;
    }
}